@font-face {
  font-family: 'dm_sans9pt_regular';
  src: url('dmsans-variablefont_opszwght-webfont.woff2') format('woff2'),#why-957
       url('dmsans-variablefont_opszwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps {
    padding: var(--sectionPadding);
    background-color: #010314;
  }
  #steps .cs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 20px - 40px */
    gap: clamp(1.25rem, 3vw, 2.5rem);
  }
  #steps .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: 20.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #steps .cs-picture {
    margin-bottom: 1.5rem;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #steps .cs-h3 {
    font-size: 1.5rem;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: #fff;
  }
  #steps .cs-item-p {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: #C0C0C0;
  }
  #steps .cs-arrow {
    /* 48px - 80px */
    width: clamp(3rem, 6vw, 5rem);
    height: auto;
    display: block;
    flex: none;
    transform: rotate(40deg);
  }
  #steps .cs-arrow-img {
    width: 100%;
    display: block;
  }
  #steps .cs-icon {
    width: 2.5rem;
    height: auto;
    display: block;
  }


  #steps .cs-title{
    text-transform: capitalize;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #steps .cs-arrow {
    align-self: center;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #steps .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #steps .cs-title,
  body.dark-mode #steps .cs-text,
  body.dark-mode #steps .cs-h3,
  body.dark-mode #steps .cs-item-p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #steps .cs-text,
  body.dark-mode #steps .cs-item-p {
    opacity: .8;
  }
  body.dark-mode #steps .cs-picture {
    background-color: var(--accent);
  }
  body.dark-mode #steps .cs-arrow {
    opacity: .5;
  }
}




#steps p {
    color: #00A8E8;
    
}
#steps .cs-text{
  color: #00A8E8;
    font-weight: bold;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: var(--topperFontSize);
    letter-spacing: .1em;
}

#steps h2 {
    font-size: 3em;
    color: #fff;
}

#steps{
    margin-top: -2em;
}





/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
      /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
      --primary: #00A8E8;
      --primaryLight: #d8673d;
      --secondary: #FFBA43;
      --secondaryLight: #FFBA43;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
    #why-957 {
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
      padding-bottom: 0;
      
      background-color: #010314;
      position: relative;
    }
    #why-957 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #why-957 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #why-957 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 1.5rem;
      display: block;
    }
    #why-957 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: #fff;
      position: relative;
    }
    #why-957 .cs-title {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      margin: 0 0 2rem 0;
      max-width: 20ch;
    }
    #why-957 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #000;
      min-width: 9.375rem;
      padding: 0 2rem;
      background-color: #00A8E8;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      margin-top: 3.33em;
    }
    #why-957 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width .3s;
    }
    #why-957 p{
        margin-top: 0.75em;
    }
    #why-957 .cs-button-solid:hover:before {
      width: 100%;
    }
    #why-957 .cs-card-group {
      width: 100%;
      max-width: 33.875rem;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }
    #why-957 .cs-item {
      list-style: none;
      text-align: left;
      width: 100%;
      margin: 0;
      /* 24px - 36px */
      padding: 0 0 clamp(1.5rem, 3vw, 2.25rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      border-bottom: 1px solid #C0C0C0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      /* 12px - 20px */
      gap: clamp(0.75rem, 1.5vw, 1.25rem);
    }
    #why-957 .cs-item:last-of-type {
      border: none;
      padding-bottom: 0;
    }
    #why-957 .cs-icon {
      /* 32px - 40px */
      width: clamp(2rem, 2.5vw, 2.5rem);
      height: auto;
      margin-top: -12px;
      scale: .75;
    }
    #why-957 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      text-align: inherit;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 0.75rem 0;
      color: #fff;
      transition: color .3s;
    }
    #why-957 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      text-align: inherit;
      line-height: 1.5em;
      margin: 0;
      color: #C0C0C0;
      transition: color .3s;
    }
    #why-957 .cs-picture {
      width: 100%;
      height: auto;
      /* 48px - 64px */
      margin-top: clamp(3rem, 6vw, 4rem);
      display: flex;
      align-items: flex-end;
      position: relative;
    }
    #why-957 .cs-picture img {
      width: 100%;
      height: auto;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #why-957 {
      padding: var(--sectionPadding);
      overflow: hidden;
    }
    #why-957 .cs-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    #why-957 .cs-content {
      width: 46%;
      text-align: left;
      align-items: flex-start;
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #why-957 .cs-picture {
      width: 59.75rem;
      height: 14.125rem;
      position: absolute;
      bottom: 0;
      right: 50%;
      margin: 0 2.5rem 0 0;
    }
  }
                                  




  /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  
  #cta-1072 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #cta-1072 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1072 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1072 .cs-flex {
    max-width: 39.375rem;
  }
  #cta-1072 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #cta-1072 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #cta-1072 .cs-title {
    margin: 0;
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    color: var(--bodyTextColorWhite);
  }
  #cta-1072 .cs-button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  #cta-1072 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #000;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cta-1072 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
    border-radius: 50px;
  }
  #cta-1072 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-1072 .cs-button-transparent {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color .3s;
    
  }
  #cta-1072 .cs-button-transparent:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
    border-radius: 50px;
  }
  #cta-1072 .cs-button-transparent:after {
    /* border */
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    border: 1px solid #fff;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
    pointer-events: none;
    border-radius: 50px;
  }
  #cta-1072 .cs-button-transparent:hover {
    color: #000;
  }
  #cta-1072 .cs-button-transparent:hover:before {
    width: 100%;
  }
  #cta-1072 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #cta-1072 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
                                









#steps .cs-button-solid{
  font-size: 1rem;
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #00A8E8;
  min-width: 9.375rem;
  padding: 0 1.5rem;
  background-color: transparent;
  display: inline-block;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border: 2px solid #00A8E8;

}



/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
 
  #services-1176 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: "Roboto", "Arial", sans-serif;
    padding: var(--sectionPadding);
    background-color: #010314;
  }
  #services-1176 .cs-container {
    max-width: 34.375rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1176 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }
  #services-1176 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    text-align: inherit;
  }
  #services-1176 .cs-title {
    font-size: var(--headerFontSize);
    line-height: 1.2em;
    font-weight: 900;
    max-width: 43.75rem;
    margin: 0 0 1rem;
    color: #fff;
    position: relative;
    text-align: inherit;
  }
  #services-1176 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    max-width: 40.625rem;
    width: 100%;
    margin: 0;
    color: #C0C0C0;
    text-align: inherit;
  }
  #services-1176 .cs-card-group {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #services-1176 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    padding: 1.5rem;
    padding-bottom: 2rem;
    background-color: rgba(255, 255, 255, .09);
    border: 1px solid #c5c5c5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, border-color 0.3s;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  #services-1176 .cs-item:hover .cs-h3,
  #services-1176 .cs-item:hover .cs-link {
    color: var(--primary);
  }
  #services-1176 .cs-item:hover .cs-arrow {
    filter: initial;
  }
  #services-1176 .cs-picture {
    width: 6.25rem;
    height: auto;
    margin: 0.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services-1176 .cs-icon {
    width: 5.5rem;
    height: auto;
  }
  #services-1176 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 0.75rem;
    color: #fff;
    transition: color 0.3s;
    text-align: inherit;
  }
  #services-1176 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    margin-bottom: 1.25rem;
    padding: 0;
    color: #C0C0C0;
  }
  #services-1176 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-top: auto;
    color: var(--headerColor);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: color 0.3s;
    text-align: inherit;
  }
  #services-1176 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #services-1176 .cs-arrow {
    width: 1.25rem;
    height: auto;
    display: block;
    filter: grayscale(1) brightness(0);
    transition: filter 0.3s, transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1176 .cs-container {
    max-width: 80rem;
  }
  #services-1176 .cs-item {
    grid-column: span 4;
  }
}
                                
                                
#services-1176 span{
  color: #00A8E8;
}












@media (max-width: 500px) {
  #steps .cs-arrow-img {
  transform:rotate(75deg);
}
}
@media (max-width: 500px) {
  #why-957 {
  padding-bottom: 3em ;
}
}


@media (max-width: 500px) {
  #hero-997 .cs-topper:after {
  width: 17%;
}
}


}


@media (max-width: 500px) {
  #steps {
  background: #101010;
}
}
@media (max-width: 500px) {
  #services-1176 {
  background: #101010;
}
}
























/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-69 {
        padding: var(--sectionPadding);
       background-color: #010314;
    }
    #sbsr-69 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-69 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbsr-69 .cs-text {
        margin-bottom: 1rem;
    }
    #sbsr-69 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbsr-69 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #sbsr-69 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #sbsr-69 .cs-button-solid:hover:before {
        width: 100%;
    }
    #sbsr-69 .cs-picture {
        width: 95%;
        max-width: 34.375rem;
        margin: 0;
        position: relative;
        display: block;
        /* width divided by height */
        aspect-ratio: 0.93134328;
        border-radius: 1rem;
        z-index: 1;
    }
    #sbsr-69 .cs-picture:before {
        /* Top right box */
        content: "";
        width: 10rem;
        /* 202px - 248px */
        height: clamp(12.625rem, 25vw, 15.5rem);
        background: #1a1a1a;
        opacity: 1;
        border-radius: 1rem;
        position: absolute;
        display: block;
        /* 16px -20px */
        /* wrapped in a calc function to get a negative clamp value */
        top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    }
    #sbsr-69 .cs-picture:after {
        /* Bottom left box */
        content: "";
        width: 10rem;
        /* 202px - 248px */
        height: clamp(12.625rem, 25vw, 15.5rem);
        background: #1a1a1a;
        opacity: 1;
        border-radius: 1rem;
        position: absolute;
        display: block;
        /* 16px -20px */
        /* wrapped in a calc function to get a negative clamp value */
        bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        z-index: -1;
    }
    #sbsr-69 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-69 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: flex-end;
        /* 60px - 128px */
        gap: clamp(3.75rem, 9.5vw, 8rem);
    }
    #sbsr-69 .cs-picture {
        /* 328px - 502px */
        width: clamp(20.5rem, 37.5vw, 31.375rem);
        /* 440px - 520px */
        height: clamp(27.5rem, 40vw, 32.5rem);
        /* 16px - 20px */
        margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
        flex: none;
        /* sends it to the right in the 2nd position */
        order: 2;
    }
    #sbsr-69 .cs-content {
        width: 45%;
        margin: 0;
    }
}












:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #00A8E8;
    --primaryLight: #00A8E8;
    --secondary: #00A8E8;
    --secondaryLight: #00A8E8;
    --headerColor: white;
    --bodyTextColor: white;
    --bodyTextColorWhite: white;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}








/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1167 {
        background-color: #010314;
        padding: var(--sectionPadding);
    }
    #services-1167 .cs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        /* changes to 1440px at large desktop */
        max-width: 51.5rem;
        width: 100%;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1167 .cs-content {
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        width: 100%;
        /* set text align to left if content needs to be left aligned */
        text-align: center;
    }

    #services-1167 .cs-title {
        max-width: 20ch;
    }
    #services-1167 .cs-card-group {
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(12, 1fr);
        margin: 0;
        width: 100%;
        padding: 0;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #services-1167 .cs-item {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, .09);
    border: 2px solid #3f3f3f;
    border-radius: .8rem;
        width: 100%;
        list-style: none;
        text-align: left;
        grid-column: span 12;
    }
    #services-1167 .cs-item:hover .cs-picture img {
        transform: scale(1.2);
    }
    #services-1167 .cs-item:hover .cs-h3,
    #services-1167 .cs-item:hover .cs-link {
        color: var(--primary);
    }
    #services-1167 .cs-item:hover .cs-arrow {
        filter: initial;
    }
    #services-1167 .cs-picture {
        position: relative;
        display: block;
        /* 180px - 240px */
        height: clamp(11.25rem, 24vw, 15rem);
        width: 100%;
        /* clips the image from overflowing parent on hover */
        overflow: hidden;
              border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;

    }
    #services-1167 .cs-picture img {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.65s;
    }
    #services-1167 .cs-info {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }
    #services-1167 .cs-h3 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--headerColor);
        transition: background-color 0.3s;
        text-align: inherit;
        margin: 0 0 0.75rem 0;
        transition: color 0.3s;
    }
    #services-1167 .cs-item-text {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        text-align: inherit;
        margin: 0;
    }
    #services-1167 .cs-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        color: var(--headerColor);
        text-align: inherit;
        margin-top: 1.25rem;
        transition: color 0.3s;
    }
    #services-1167 .cs-link:hover .cs-arrow {
        transform: translateX(0.25rem);
    }
    #services-1167 .cs-arrow {
        filter: grayscale(1) brightness(0);
        display: block;
        height: auto;
        width: 1.25rem;
        transition:
            filter 0.3s,
            transform 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1167 .cs-item {
        grid-column: span 6;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1167 .cs-container {
        max-width: 90rem;
    }
    #services-1167 .cs-item {
        grid-column: span 3;
    }
}




/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-326 {
      padding: var(--sectionPadding);
    background-color: #010314;
  }
  #faq-326 .cs-container {
      width: 100%;
      max-width: 43.75rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    background-color: #010314;
  }
  #faq-326 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #faq-326 .cs-title {
      margin: 0;
  }
  #faq-326 .cs-faq-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.75rem;
  }
  #faq-326 .cs-faq-item {
      list-style: none;
      width: 100%;
      background-color: #010314;
      /* clips all corners of the button that overlap the rounded border */
      overflow: hidden;
      border-radius: 0.75rem;
      transition: border-bottom 0.3s;
    border:1px solid white;
    
  }
  #faq-326 .cs-faq-item.active .cs-button {
      background-color: var(--primary);
      color: var(--secondaryLight);
  }
  #faq-326 .cs-faq-item.active .cs-button:before {
      background-color: var(--secondaryLight);
      transform: rotate(315deg);
  }
  #faq-326 .cs-faq-item.active .cs-button:after {
      background-color: var(--secondaryLight);
      transform: rotate(-315deg);
  }
  #faq-326 .cs-faq-item.active .cs-item-p {
      height: auto;
      /* 20px - 24px top & bottom */
      /* 16px - 24px left & right */
      padding: clamp(1.25rem, 1.3vw, 1.5rem) clamp(1rem, 2vw, 1.5rem);
      opacity: 1;
  }
  #faq-326 .cs-button {
      font-size: 1rem;
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      /* 16px - 20px */
      padding: clamp(1rem, 1.3vw, 1.25rem);
      background-color: #010314;
      border: none;
      color: var(--headerColor);
      display: block;
      width: 100%;
      position: relative;
      transition:
          background-color 0.3s,
          color 0.3s;
  }
  #faq-326 .cs-button:hover {
      cursor: pointer;
  }
  #faq-326 .cs-button:before {
      /* left line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 50%;
      right: 1.5rem;
      transform: rotate(45deg);
      /* animate the transform from the left side of the x axis, and the center of the y */
      transform-origin: left center;
      transition: transform 0.5s;
  }
  #faq-326 .cs-button:after {
      /* right line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 50%;
      right: 1.3125rem;
      transform: rotate(-45deg);
      /* animate the transform from the right side of the x axis, and the center of the y */
      transform-origin: right center;
      transition: transform 0.5s;
  }
  #faq-326 .cs-button-text {
      width: 80%;
      display: block;
    color: white;
  }
  #faq-326 .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 90%;
      height: 0;
      margin: 0;
      /* 16px - 24px */
      padding: 0 clamp(1rem, 2vw, 1.5rem);
      opacity: 0;
      color: white;
      /* clips the text so it doesn't show up */
      overflow: hidden;
      transition:
          opacity 0.3s,
          padding-bottom 0.3s;
  }
}

                                
